<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Your Team Running Log | Sign Up</title>
  </head>
  <body id="page-top">
    <h1>Your Team Running Log | Sign Up</h1><br>

    <form action="/signup" method="post">
      Name: <br><input type="text" name="name" size="50" required></input><br><br>
      Email: <br><input type="email" name="email" size="50" required></input><br><br>
      Password: <br><input type="password" name="password" size="50" required></input><br><br>
      Gender:
        <br><input type="radio" name="gender" value="male" required> Male<br>
        <input type="radio" name="gender" value="female"> Female<br>
        <br><input type="submit" value="Sign Up">
    </form>

  </body>

</html>
