<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>LogMyRun | Log In</title>
 </head>
 <body>
  <h1>LogMyRun</h1>
  <p><i>Log in here:</i></p>
  <form action="/login" method="post">
    Email: <br><input type="email" name="email" size="50" required></input><br><br>
    Password: <br><input type="password" name="password" size="50" required></input><br><br>
    <input type="submit" value="submit">
  </form>
  </body>
</html>
