
<!DOCTYPE html>
<html>
  <head>
    <title>Your Team Running Log</title>
  </head>

  <body>
    <h1>Welcome to Your Team Running Log</h1>

    <p><a href='/signup'>Sign Up</a></p>
    <p><a href = '/login'>Log In</a></p>
  </body>
</html>
