
<!DOCTYPE html>
<html>
  <head>
    <title>LogMyRun | Hello!</title>
  </head>

  <body>
    <h1>Welcome to LogMyRun</h1>

    <img src="http://i.imgur.com/MDYOpQo.jpg" alt="To give anything less than your best is to sacrifice the gift."><br><br>

    <button type="button"><a href='/signup'>Sign Up</a></button>
    <button type="button"><a href = '/login'>Log In</a></button>
  </body>
</html>
