
<!DOCTYPE html>
<html>
  <head>
    <title>Your Team Running Log</title>
  </head>

  <body>
    <h1>Welcome to Your Team Running Log</h1>

    <button type="button"><a href='/signup'>Sign Up</a></button>
    <button type="button"><a href = '/login'>Log In</a></button>
  </body>
</html>
